{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "serviceworker": true
    },
    "globals": {
        "__PROD__": false,
        "__DEV__": false,
        "MANIFEST_LOADER": false,
        "fixture": false,
        "test": false
    },
    "rules": {
        "comma-dangle": [
            2,
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "never"
            }
        ],
        "block-scoped-var": 0,
        "padded-blocks": 0,
        "prettier/prettier": [
            "error",
            {
                "printWidth": 100,
                "tabWidth": 4,
                "singleQuote": true,
                "trailingComma": "es5",
                "jsxBracketSameLine": false
            }
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    "plugins": ["react", "prettier"]
}
