{
    "extends": "prettier",
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "serviceworker": true
    },
    "globals": {
        "__PROD__": false,
        "__DEV__": false,
        "MANIFEST_LOADER": false,
        "fixture": false,
        "test": false
    },
    "rules": {
        "comma-dangle": 2,
        "block-scoped-var": 0,
        "padded-blocks": 0,
        "prettier/prettier": "error"
    },
    "parserOptions": {},
    "plugins": ["react", "prettier"]
}
