
@import "functions"


=container($vertical-margin: rem(20))
    box-sizing: border-box
    margin: $vertical-margin rem(6)
    padding: rem(8)

    @media only screen and (min-width: rem(733))
        width: rem(720)
        padding: rem(16)
        margin-left: auto
        margin-right: auto


=content
    background-color: white
    border: rem(1) solid #CCC
    border-radius: rem(3)


=visuallyhidden
    border: 0
    clip: rect(0 0 0 0)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px
    white-space: nowrap
